
#root {
  max-height: 100vh;
  overflow: hidden;
}
.jumbotron {
  background-image: url(/img/forest.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  padding: 10vh 2.5%;
  text-align: center;
}

.jumbotron h1, .jumbotron p {
  color: #fff;
}

.jumbotron h1 {
  font-size: 3.5rem;
}

.jumbotron .lead {
  margin-bottom: 1.5rem;
  font-size: 1.75rem;
}

.jumbotron .btn {
  margin: 2rem 2.5% 0;
}

.jumbotron button:hover {
  cursor: pointer;
}

@media screen and (min-width: 43.75rem) {
  .jumbotron {
    padding: 15vh 10%;
  }

  .jumbotron h1 {
    font-size: 4rem;
  }

  .jumbotron .lead {
    margin-bottom: 3rem;
    font-size: 1.75rem;
  }

  .jumbotron .btn {
    margin: 0 0.75rem 0;
  }
}
@media screen and (min-width: 64rem) {
  .jumbotron {
    padding: 15vh 12.5%;
  }
  .jumbotron h1 {
    font-size: 6rem;
  }
  .jumbotron .lead {
    font-size: 3.5rem;
    margin-bottom: 5rem;
  }
  .jumbotron .btn {
    font-size: 1.75rem;
    margin-right: 1rem;
  }
}

@media screen and (min-width: 85.5rem) {
  .jumbotron {
    padding: 20vh 15%;
  }
}
